<div class="slide">
  <div class="productImage clearfix">
    <%= link_to image_tag(product.display_image.attachment(:large), :alt => "featured-product-img") %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a>
        </li>
        <li>
          <a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
          <a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <%= render partial: 'shared/product_name_price_link', locals: { product: product } %>
</div>
